# Unwanted File & Working file #
################################
/bin/
/.metadata/*
/.settings/*
/data/*
/META-INF/*
/VTF/*
/src/trash.java

# Unwanted File type #
######################

*.vtf
*.txt
*.csv
*.poly
*.unv
*.classpath